{% extends 'main.html' %}

{% block content %}

<h1>Project Form</h1>

<form action="" method="POST" enctype = "multipart/form-data">     <!-- STEP 63: enable the form to upload files-->
    {% csrf_token %}

    {{form.as_p}}             <!-- action 46 add the form to the project_form-->
                                     <!-- form.as_p >> makes each form element surrounded with p tags-->


    <!--{{form.title.label}}           other formats for listing the fields
    {{form.title}}-->

    <!-- <hr> -->
    <!-- {% for field in form %}
        <p> {{field.label}}
        {{field}}  </p>
    {% endfor %} -->

    <input type="submit">
</form>


{% endblock %}